@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,400;0,500;1,200&display=swap');

/* Global CSS */

/* Variables */
:root{
    /* ========= Colors ============ */
    --FireBrick: #d33f25;
    --bgcolor: #380036;
    --Black: #000000;
    --DimGrey: #696969;
    --white: #ffff;
    --blue: #09c6f9;
    --darkgray: #252525f3;
    --dark-color: #0E1026;
    --btnColor: #08c51b;
    --first-color: #5B65F5;
    --first-color-light: #C4C7F5;
    --white-color: #FBFBFB;


    /* ====== Font ======= */
    --body-font: 'Glory', sans-serif;
    --transition: 0.5s;
    --transition1: 1s;
}

/* =========== Base CSS ============= */

*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    overflow-x: hidden;
    /* color: var(--white); */
}


h1, h2, h3 {
    color: var(--title-color);
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

::placeholder{
    font-size: 1rem;
    font-weight: bold;
}

button,input {
    border: none;
    outline: none;
}

/* ============ usable css code ============== */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 1rem;
    background-color:var(--white-color);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header__logo {
    color: var(--dark-color);
  }
  
  .header__toggle {
    font-size: 1.7rem;
    cursor: pointer;
  }
  
  /*===== NAV =====*/
  @media screen and (max-width: 770px) {
    .nav {
      position: fixed;
      top: 0;
      left: -100%;
      background-color: var(--Black);
      width: 80%;
      height: 100vh;
      padding: 2rem 0;
      z-index: var(--z-fixed);
      transition: .5s;
      overflow-y: auto;
    }
  }
  
  .nav__content {
    display: flex;
    flex-direction: column;
  }
  .navLogo{
      height: 45px;
      width: 70px
  }
  .nav__perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .nav__img {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
  }
  
  .nav__img img {
    width: 70px;
  }
  
  .nav__name {
    display: block;
    font-size: 1.2rem;
    color: var(--white-color);
  }
  
  .nav__item {
    margin: 12px 0;
    padding: 15px 45px;
  }
  
  .nav__link {
    color: var(--first-color-light);
  }
  
  .nav__link:hover {
    color: var(--white-color);
  }
  
  /*Show menu*/
  .show {
    left: 0;
  }
  
  /*Active link*/
  .active {
    color: var(--white-color);
  }
  
  /* ===== MEDIA QUERIES=====*/
  @media screen and (min-width: 576px) {
    .nav {
      width: 288px;
    }
  }
  
  @media screen and (min-width: 770px) {
    body {
      margin: 0;
    }
    .header {
      height: calc(var(--header-height) + 1rem);
    }
    .header__logo, .header__toggle {
      display: none;
    }
    .nav {
      width: 100%;
    }
    .nav__content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .nav__perfil {
      flex-direction: row;
      text-align: initial;
      margin-bottom: 0;
    }
    .nav__img {
      width: 40px;
      height: 40px;
      margin-right: .5rem;
      margin-bottom: 0;
    }
    .nav__img img {
      width: 46px;
    }
    .nav__name {
      color: var(--dark-color);
    }
    .nav__list {
      display: flex;
      align-items: center;
    }
    .nav__item {
      margin: 0 1.5rem;
      padding: 1.4rem 0;
    }
    .nav__link {
      color: var(--dark-color);
      font-weight: bold;
      font-size: 1.15rem;
    }
    .nav__link:hover {
      color: var(--first-color);
    }
    /*Active link new color*/
    .active {
      color: var(--first-color);
    }
  }
  
  @media screen and (min-width: 1024px) {
    .bd-grid {
      margin-left: auto;
      margin-right: auto;
    }
  }

/* ============ Paralax ============ */
.parallax{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('https://images.pexels.com/photos/1034662/pexels-photo-1034662.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=2000');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    width: 100vw;
}
.heading{
    color: var(--white);
    padding-top: 270px;
    padding-left: 160px;
    font-size: 3.4rem;
}
.para{
    color: var(--white);
    padding-top: 8px;
    padding-left: 160px;
    font-size: 1.5rem;
}
.paraBold{
    font-weight: 600;
}
@media only screen and (min-width: 1025px) and (max-width: 1200px){
    .heading{
        font-size: 3.1rem;
        padding-left: 140px;
        padding-top: 240px;
    }
  
  .para{
        font-size: 1.3rem;
        padding-left: 140px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .heading{
        font-size: 2.8rem;
        padding-left: 115px;
        padding-top: 175px;
    }
  
    .para{
        font-size: 1.2rem;
        padding-left: 115px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .heading{
        font-size: 2.5rem;
        padding-left: 55px;
        padding-top: 200px;
    }
  
    .para{
        font-size: 1.2rem;
        padding-left: 55px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    .heading{
        font-size: 2rem;
        padding-left: 5px;
        padding-top: 220px;
    }
  
   .para{
        font-size: 1.1rem;
        padding-left: 5px;
    }
}

/* ============ Service Portion ================ */

.service > .getStarted {
    padding: 30px 50px;
    text-align: center;
    background-color: var(--FireBrick);
    font-size: 1.7rem;
    color: var(--white);
    margin-top: 30px;
}

.service > .content > .content1{
    text-align: center;
    padding-top: 85px;
    font-size: 2.6rem;
}

.service > .content > .contentpara{
    margin: 0 100px;
    padding-top: 12px;
    text-align: center;
    font-size: 1.23rem;
    letter-spacing: 0.5px;
    line-height: 30px;
    padding-bottom: 50px;
}

.service > .serviceProvided{
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(3, 120px);
    row-gap: 45px;
    column-gap: 230px;
    justify-content: center;
    padding-bottom: 5px;
}

.service > .serviceProvided > .pdr{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 10px var(--Black);
    border-radius: 8px;
}

.service > .serviceProvided > .pdr:hover{
    transform: scale(1.1);
    color: var(--white);
    background-color: var(--btnColor);
    transition: var(--transition);
}

.service > .serviceProvided > .pdr > p{
    padding-top: 10px;
    font-size: 1.1rem;
}

@media only screen and (min-width: 1025px) and (max-width: 1200px){
    .service > .getStarted{
        font-size: 1.5rem;
        padding: 26px 45px;
    }
    .service > .content > .contentpara{
        margin: 0 95px;
        font-size: 1.05rem;
        padding: 0 25px;
    }
    .service > .serviceProvided{
        column-gap: 160px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .service > .getStarted{
        font-size: 1.2rem;
        padding: 22px 38px;
    }
    .service > .content > .contentpara{
        margin: 0 85px;
        font-size: 1.05rem;
        padding: 0 20px;
    }
    .service > .serviceProvided{
        grid-template-columns: repeat(1, 500px);
        grid-template-rows: repeat(6, 130px);
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .service > .getStarted{
        font-size: 1.2rem;
        padding: 20px 35px;
    }
    .service > .content > .contentpara{
        margin: 0 75px;
        font-size: 1rem;
    }
    .service > .serviceProvided{
        grid-template-columns: repeat(1, 380px);
        grid-template-rows: repeat(6, 130px);
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    .service > .getStarted{
        font-size: 1.2rem;
        padding: 20px 35px;
    }
    .service > .content > .contentpara{
        text-align: justify;
        margin: 0 20px;
        font-size: 1rem;
    }
    .service > .serviceProvided{
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(6, 130px);
    }
}

/* ============= About Us ============= */

.about{
    margin-top: 90px;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url("https://images.pexels.com/photos/3244513/pexels-photo-3244513.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=2000") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;

}

.about > .aboutHead{
    color: var(--white);
    padding-left: 120px;
    padding-top: 150px ;
    font-size: 2.2rem;
}

.about > .aboutpara{
    color: var(--white);
    padding-left: 120px;
    margin-top: 10px;
    font-size: 1.2rem;
}

.aboutbody > .aboutbodyHead{
    text-align: center;
    padding-top: 90px;
}

.aboutbody > .values{
    padding-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(1, 120px);
    column-gap: 50px;
}

.aboutbody > .values > .bdy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutbody > .values > .bdy:hover{
    transform: scale(1.1);
    background-color: var(--darkgreen);
    transition: var(--transition);
}

.aboutbody > .values > .bdy > .bdy2{
    margin-top: 8px;
    font-size: 1.1rem;
    padding: 5px;
    text-align: center;
}

/* ========== About Us Media Queries ========== */

@media only screen and (min-width: 1025px) and (max-width: 1200px){
    .aboutbody > .values{
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(2, 130px);
        column-gap: 150px;
        row-gap: 50px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .aboutbody > .values{
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(2, 140px);
        column-gap: 100px;
        row-gap: 50px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .about > .aboutHead{
        padding-left: 85px;
    }
    
    .about > .aboutpara{
        padding-left: 85px;
    }
    
    .aboutbody > .values{
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: repeat(3, 140px);
        row-gap: 50px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 481px){
    .about > .aboutHead{
        padding-left: 25px;
    }
    
    .about > .aboutpara{
        padding-left: 25px;
    }
    
    .aboutbody > .values{
        grid-template-columns: repeat(1, 310px);
        grid-template-rows: repeat(3, 160px);
        row-gap: 50px;
    }
    .aboutbody > .values > .bdy:hover{
        transform: scale(1.02);
    }
}

/* ============== Gallery ============= */

.gallery > .galleryHeading::before{
    content: "";
    position: absolute;
    left: 20px;
    right: 20px;
    background-color: var(--FireBrick);
    width: 7%;
    height: 3px;
    margin: -10px auto;
    z-index: -1;
    
}
.gallery > .galleryHeading{
    text-align: center;
    padding-top: 80px;
}

.gallery > .images{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-template-rows: repeat(3, 280px);
    row-gap: 50px;
    column-gap: 70px;
    justify-content: center;
    align-items: center;
}

.gallery > .images > .img{
    border-radius: 8px;
    width: 350px;
    height: 280px;
    box-shadow: 2px 2px 10px var(--DimGrey);
    cursor: pointer;
    object-fit: cover;
}

.gallery > .images > .img:hover{
    transform: scale(1.2);
    transition: var(--transition);
}

/* ========= Gallery Media Queries ========= */
 
@media only screen and (min-width: 1025px) and (max-width: 1200px){
    .gallery > .images{
        grid-template-columns: repeat(2, 320px);
        grid-template-rows: repeat(5, 280px);
        row-gap: 40px;
        column-gap: 180px;
    }
    .gallery > .images > .img{
        width: 320px;
        height: 280px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .gallery > .images{
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: repeat(5, 240px);
        row-gap: 40px;
        column-gap: 120px;
    }
    .gallery > .images > .img{
        width: 280px;
        height: 240px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .gallery > .images{
        grid-template-columns: repeat(1, 330px);
        grid-template-rows: repeat(9, 240px);
        row-gap: 40px;
        /* column-gap: 120px; */
    }
    .gallery > .images > .img{
        width: 330px;
        height: 240px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    .gallery > .images{
        grid-template-columns: repeat(1, 270px);
        grid-template-rows: repeat(9, 240px);
        row-gap: 20px;
        /* column-gap: 120px; */
    }
    .gallery > .images > .img{
        width: 270px;
        height: 240px;
    }
    .gallery > .images > .img:hover{
        transform: scale(1.05);
    }
}


/* ============ Contact Us ============ */
.contact{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact .contact_detail{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.contact .contact_detail #contact_title, #contact_heading, #address, #mail, #tel{
    margin-bottom: 10px;
    line-height: 30px;
    color: var(--Black);
}


.poster .mapBox{
    width: 40vw;
    height: 350px;
}

.bx{
    font-size: 1.4rem;
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .contact{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .poster .mapBox{
        width: 90vw;
        height: 370px;
    }
    .contact .contact_detail{
        margin-top: 40px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .contact{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .poster .mapBox{
        width: 90vw;
        height: 370px;
    }
    .contact .contact_detail{
        margin-top: 40px;
    }
    .contact .contact_detail #contact_title, #contact_heading, #address, #mail, #tel{
        padding: 0 10px;
    }
    .s_media{
        margin-top: 10px;
        padding: 0 10px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 480px){
    .contact{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .poster .mapBox{
        width: 90vw;
        height: 300px;
    }
    .contact .contact_detail{
        margin-top: 40px;
    }
    .contact .contact_detail #contact_title, #contact_heading, #address, #mail, #tel{
        padding: 0 10px;
    }
    .s_media{
        margin-top: 10px;
        padding: 0 10px;
    }
}

/* ========== Footer ============= */
.footer{
    color: var(--white);
    background-color: var(--Black);
    margin-top: 50px;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
}
.footer > .footercontainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer > .footercontainer > .footerpara{
    padding: 18px 0;
    width: 58%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.footer > .copyright{
    text-align: center;
    padding-bottom: 5px;
    width: 50%;
    box-shadow: 0 1px 8px var(--DimGrey);
    margin: auto;
}

/* =========== Media Queries ========== */
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .footer > .footercontainer > .footerpara{
        width: 75%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .footer > .footercontainer > .footerpara{
        width: 70%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    .footer > .footercontainer > .footerpara{
        width: 80%;
    }
}

